{% extends "weathered/base.html" %}

{% load static %}

{% block title %}
    Index
{% endblock %}


{% block body %}
    <body id="index" class="bg-light scroll-warm">
    <nav class="navbar navbar-light p-3 fixed top bg-transparent">
        <div class="container-fluid d-flex justify-content-center">
            <div class="nav-item text-dark pe-3">
                <a class="nav-link" href={% url 'history' %}>History</a>
            </div>
            <form class="d-flex input-group w-auto">
                <input
                        id="search-box"
                        type="search"
                        class="form-control rounded"
                        placeholder="Search Locations..."
                        aria-label="Search"
                        aria-describedby="search-addon"
                        list="geoLocations"
                        name="geoLocation"
                />
                <datalist id="geoLocations"></datalist>
                <span onclick="parseLocation()" class="input-group-text text-black bg-transparent border-0" id="search-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bg-none feather feather-arrow-right" width="24"
                         height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline
                            points="12 5 19 12 12 19"></polyline>
                    </svg>
                </span>
            </form>
            {% if user.is_authenticated %}
                    <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'display_profile' %}> <img style="width: 70px"
                                                                       class="img-fluid rounded-5"
                                                                       {% if user.profile.profile_pic.url == "/media/base.jpg" %}
                                                                       src={{ "https://ui-avatars.com/api/?name="|add:user.username}}{{"&background=random"}}>
                                                                       {% else %}
                                                                       src="{{ user.profile.profile_pic.url }}">
                                                                       {% endif %}
                    </a>
                </div>
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'logout' %}>Logout</a>
                </div>
            {% else %}
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'login' %}>Login</a>
                </div>
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'register' %}>Register</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <i id="dark" onclick="toggleDarkMode(this);" class="fa-solid fa-moon toggle-dark d-inline position-absolute end-0 top-0 m-3"></i>

    <div id="background" class="container pb-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <h4 class="mb-0"><span id="location"><i class="fa-solid fa-circle-exclamation"></i> Error fetching data</span></h4>
                        <p class="display-2 my-3"><span id="temperature">32</span>°F</p>
                        <h5><span id="weather-condition"></span></h5>
                        <p class="mb-2">Feels Like: <strong><span id="apparent-temperature">32</span>°F</strong></p>
                        <p class="mb-2">High: <strong><span id="hi-temperature">32</span>°F</strong> Low: <strong><span id="lo-temperature">32</span>°F</strong></p>
                        <h5><i class="bi bi-sunrise"></i> Sunrise: <span id="sunrise">12:00 AM</span></h5>
                        <h5><i class="bi bi-sunset"></i> Sunset: <span id="sunset">11:59 PM</span></h5>
                        <div class="d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-smile py-1">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-frown py-1">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="M16 16s-1.5-2-4-2-4 2-4 2"></path>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            </svg>
                        </div>
                    </div>
                </div>

                {# Hourly Card #}
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                            <div class="flex-column">
                                <p class="small"><strong><span class="hourly-temperature">32</span>°F</strong></p>
                                <div class="hourly-icon"></div>
                                <p class="mb-0"><strong><span class="hourly-hour">12</span>:00</strong></p>
                                <p class="mb-0 text-muted"><span class="hourly-period">AM</span></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong><span class="hourly-temperature">32</span>°F</strong></p>
                                <div class="hourly-icon"></div>
                                <p class="mb-0"><strong><span class="hourly-hour">1</span>:00</strong></p>
                                <p class="mb-0 text-muted"><span class="hourly-period">AM</span></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong><span class="hourly-temperature">32</span>°F</strong></p>
                                <div class="hourly-icon"></div>
                                <p class="mb-0"><strong><span class="hourly-hour">2</span>:00</strong></p>
                                <p class="mb-0 text-muted"><span class="hourly-period">AM</span></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong><span class="hourly-temperature">32</span>°F</strong></p>
                                <div class="hourly-icon"></div>
                                <p class="mb-0"><strong><span class="hourly-hour">3</span>:00</strong></p>
                                <p class="mb-0 text-muted"><span class="hourly-period">AM</span></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong><span class="hourly-temperature">32</span>°F</strong></p>
                                <div class="hourly-icon"></div>
                                <p class="mb-0"><strong><span class="hourly-hour">4</span>:00</strong></p>
                                <p class="mb-0 text-muted"><span class="hourly-period">AM</span></p>
                            </div>
                        </div>

                    </div>
                </div>

                {# Week Card #}
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                            <div class="flex-column">
                                <p class="small"><strong>
                                    <span class="daily-hi-temperature">32</span>°F<br>
                                    <span class="text-muted"><span class="daily-lo-temperature">32</span>°F</span>
                                </strong></p>
                                <div class="daily-icon"></div>
                                <p class="mb-0"><strong><span class="daily-day">Mon</span></strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>
                                    <span class="daily-hi-temperature">32</span>°F<br>
                                    <span class="text-muted"><span class="daily-lo-temperature">32</span>°F</span>
                                </strong></p>
                                <div class="daily-icon"></div>
                                <p class="mb-0"><strong><span class="daily-day">Tue</span></strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>
                                    <span class="daily-hi-temperature">32</span>°F<br>
                                    <span class="text-muted"><span class="daily-lo-temperature">32</span>°F</span>
                                </strong></p>
                                <div class="daily-icon"></div>
                                <p class="mb-0"><strong><span class="daily-day">Wed</span></strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>
                                    <span class="daily-hi-temperature">32</span>°F<br>
                                    <span class="text-muted"><span class="daily-lo-temperature">32</span>°F</span>
                                </strong></p>
                                <div class="daily-icon"></div>
                                <p class="mb-0"><strong><span class="daily-day">Thu</span></strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>
                                    <span class="daily-hi-temperature">32</span>°F<br>
                                    <span class="text-muted"><span class="daily-lo-temperature">32</span>°F</span>
                                </strong></p>
                                <div class="daily-icon"></div>
                                <p class="mb-0"><strong><span class="daily-day">Fri</span></strong></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    </body>
{% endblock %}
