{% extends "weathered/base.html" %}
{% load static %}

{% block title %}
    Index
{% endblock %}


{% block body %}
    <body class="bg-light">
    <nav class="navbar navbar-light p-3 fixed top bg-transparent">
        <div class="container-fluid d-flex justify-content-center">
            <div class="nav-item text-dark pe-3">
                <a class="nav-link" href="#">History</a>
            </div>
            <form class="d-flex input-group w-auto">
                <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search Locations..."
                        aria-label="Search"
                        aria-describedby="search-addon"
                />
                <span class="input-group-text text-black bg-transparent border-0" id="search-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bg-none feather feather-arrow-right" width="24"
                         height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline
                            points="12 5 19 12 12 19"></polyline>
                    </svg>
                </span>
            </form>
            {% if user.is_authenticated %}
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'profile' %}> <img style="width: 70px"
                                                                       class="img-fluid rounded-5"
                                                                       src="{{ user.profile.profile_pic.url }}">
                    </a>
                </div>

                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'logout' %}>Logout</a>
                </div>
            {% else %}
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'login' %}>Login</a>
                </div>
                <div class="nav-item text-dark ps-3">
                    <a class="nav-link" href={% url 'register' %}>Register</a>
                </div>
            {% endif %}
        </div>
    </nav>


    <div id="background" class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        {# image background #}
                        {# <img src="{% static '/images/clouds.jpg' %}" alt="clouds">#}
                        <h4 class="mb-0">New Britain, CT, US</h4>
                        <p class="display-2 my-3">60.4°F</p>
                        <p class="mb-2">Feels Like: <strong>61.4°F</strong></p>
                        <p class="mb-2">High: <strong>64.1°F</strong> Low: <strong>60.7°F</strong></p>
                        <h5>Windy </h5>
                        <div class="d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-smile py-1">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-frown py-1">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="M16 16s-1.5-2-4-2-4 2-4 2"></path>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-meh py-1">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="8" y1="15" x2="16" y2="15"></line>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            </svg>
                        </div>
                    </div>
                </div>

                {# Hourly Card #}
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                            <div class="flex-column">
                                <p class="small"><strong>50°F</strong></p>
                                {# icon#}
                                <p class="mb-0"><strong>1:00</strong></p>
                                <p class="mb-0 text-muted">AM</p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>52°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>2:00</strong></p>
                                <p class="mb-0 text-muted">AM</p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>53°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>3:00</strong></p>
                                <p class="mb-0 text-muted">AM</p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>55°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>4:00</strong></p>
                                <p class="mb-0 text-muted">AM</p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>56°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>5:00</strong></p>
                                <p class="mb-0 text-muted">AM</p>
                            </div>
                        </div>

                    </div>
                </div>

                {# Week Card #}
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                            <div class="flex-column">
                                <p class="small"><strong>51°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>Mon</strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>52°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>Tue</strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>53°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>Wed</strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>54°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>Thu</strong></p>
                            </div>
                            <div class="flex-column">
                                <p class="small"><strong>55°F</strong></p>
                                {# icon #}
                                <p class="mb-0"><strong>Fri</strong></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    </body>
{% endblock %}
